<%- contentFor("header")  %> 
<%- include('./partials/_navbar.ejs')  %> 


<%- contentFor('body')  %> 
<div class="container-fluid mt-5">
  <h3 class="text-capitalize text-center">hello <span class="border-bottom"><%= user.name  %> </span>this is yout cart </h3>
<h4 class="border-bottom mt-5">Books in your cart</h4>
<br>
  <div>
    <% user.cart.items.forEach(item => { %>
      <div class="border p-2 mb-3">
        <div>
          <h5><%= item.itemId.title  %> </h5>
          <p>Quantity:  <%= item.quantity  %> </p>
        </div>
        <div class="d-flex">
        <form class="m-2" action="/users/modify-cart" method="post">
          <input type="hidden" value="<%= item.itemId._id  %>" name="addBook">
          <button class="btn btn-primary">Add 1</button>
        </form>
        <form class="m-2" action="/users/modify-cart" method="POST">
          <input type="hidden" value="<%= item.itemId._id  %>" name="deleteBook">
          <button class="btn btn-secondary">Delete 1</button>
        </form>
        <form class="m-2" action="/users/modify-cart" method="POST">
          <input type="hidden" value="<%= item.itemId._id  %>" name="deleteAllBook">
          <button class="btn btn-secondary">Delete All</button>
        </form>
        </div>
      </div>

    <% }) %> 

  </div>
</div>