<%- contentFor('body')  %> 
<div class="container-fluid">

  <div class="row h-100" >
    <!-- right -->
    <div class="col-md-6 register-page__left-section order-2 position-relative d-flex justify-content-center align-items-center order-md-1" style="min-height: 100vh;">
      <!-- home link -->
      <span class="position-absolute" style="top: 10px; left: 10px;"><a class="text-white" href="/">Home</a></span>
      <!-- main message -->
      <div class="p-3"> 
        <h1 class="text-white text-capitalize display-2 font-oswald">So many books, so little time.</h1>
        <h3 class="text-white ml-2">Start Now...</h3>
      </div>
    </div>

    <!-- form -->
    <div class="col-md-4 offset-md-1 d-flex justify-content-center align-items-center order-1" style="min-height: 100vh;">
      <div class="card card-body border-0">
        <div class="pb-4" >
          <img class="img-fluid " src="/images/logo.png" alt="">
        </div>
        <% include ./partials/messages %>
        <form action="/users/register" method="POST">
          <div class="form-group">
            <label for="name">Name</label>
            <input
              type="name"
              id="name"
              name="name"
              class="form-control"
              placeholder="Enter Name"
              value="<%= typeof name != 'undefined' ? name : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
              value="<%= typeof email != 'undefined' ? email : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              placeholder="Create Password"
              value="<%= typeof password != 'undefined' ? password : '' %>"
            />
          </div>
          <div class="form-group">
            <label for="password2">Confirm Password</label>
            <input
              type="password"
              id="password2"
              name="password2"
              class="form-control"
              placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
            />
            <!-- <div id="passwordConfirmValidation" class="invalid-feedback">
              Please provide a valid city.
            </div> -->
          </div>
          <button type="submit" class="btn btn-primary btn-block">
            Register
          </button>
        </form>
        <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
      </div>
    </div>
  </div>

</div>
